<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Programming - Google Sheet</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body>
    <div class="container">
        <div class="col-md-16 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Python Programming - Google API</h1>
                <hr class="my-4">
                <form method="post" action="/">
                    <p>
                        <input type="submit" value="Process Google Sheet" name="sheet" class="btn btn-primary" />
                        <a target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1UTJXmS_sBIY9X-GaiIqS_IdtlLO4flHP32nQIsiQ6Hk/edit?usp=sharing">Mailing
                            Address Sheet</a>
                    </p>
                    <p>
                        <input type="submit" value="Process Google Docs" name="docs" class="btn btn-primary" />

                        <a target="_blank"
                            href="https://docs.google.com/document/d/18xQzPIpvjLaB2fiDExlAmNH_sSjabeyD1Iq6e56BnkU/edit?usp=sharing">Mailing
                            Address Docs</a>
                    </p>
                </form>
            </div>
        </div>
    </div>


</body>

</html>